* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: #%bgcolor%;
    color: #%fgcolor%;
    transition-property: background-color;
    transition-duration: 0.5s;
    /* border-radius: 3px; */
    border-radius: 0px;
}

#workspaces button {
    padding: 0 7px;
    color: #616274;
    border-radius: 0;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.active {
    color: #%accent%;
    background-color: rgba(200,200,200,0.1);
    box-shadow: inset 0 -2px #%accent%;
}

#workspaces button:hover {
    background-color: rgba(100,100,100,0.1);
    color: rgba(200,200,200,0.5);
}

#workspaces button.urgent {
    background-color: #%redc%;
}

#window {
    color: #%fgcolor%;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-weather,

#workspaces {
    margin: 0 4px;
    padding:0 3px;
}

#cpu {
    padding-left: 5px;
    padding-right: 0;
    margin-right: 0;
    color: #%cyanc%;
}

#memory {
    padding-left: 0;
    color: #f9e2af;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#pulseaudio {
    color: #%lightbluec%;
}

#pulseaudio.muted {
    color: #%redc%;
}

#backlight {
    /* color: #EBCB8B; */
    color: #cba6f7;
}

#clock {
    color: #%orangec%;
    padding-right: 5px;
}

#battery {
    background-color: #2e3440;
    color: #%bluec%;
    padding-right: 0;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #%greenc%;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #%fgcolor%;
    }
}

#battery.critical:not(.charging) {
    color: #%redc%;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #%fgcolor%;
}

#network {
    color: #%yellowc%;
}

#network.disconnected {
    color: #%redc%;
}

#custom-media {
    color: #%yellowc%;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #%redc%;
}

#idle_inhibitor {
    color: #%purplec%;
}

#idle_inhibitor.activated{
    color:  #%redc%;
    box-shadow: inset 0 -2px #%redc%;
}

#custom-dunst {
    padding:0 3px;
    color: #%greenc%;
}

#custom-dunst.disabled{
    color: #%redc%;
    box-shadow: inset 0 -2px #%redc%;
}

#keyboard-state {
    color: #cba6f7;
}

#keyboard-state > label {
    font-size: 16px;
    padding: 3px;
}

#keyboard-state > label.numlock.locked {
    text-shadow: 0 0 2 #f9e2af;
}

#keyboard-state > label.capslock.locked {
    text-shadow: 0 0 2 #f38ba8;
}

#keyboard-state > label.numlock{
    color: #f9e2af;
    margin-left: 2px;
}

#keyboard-state > label.capslock{
    color: #f38ba8;
    margin-right: 2px;
}
