* {
    font-family: "JetBrainsMono Nerd Font Mono, Noto Sans";
    font-size: 14px;
    font-weight: bold;
    transition: box-shadow ease-in 0.1s;
    transition: color ease-in 0.1s;
    transition: background-color ease-in 0.1s;
    margin: 0 2px;
}

window#waybar {
    background-color: #1e1914;
    color: #c4a98c;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0px;
}

#workspace {
    margin-left: 0;
}

#workspaces button {
    color: #4f4235;
    margin: 4px 2px;
    border-radius: 3px;
    border-left: 0;
    border-right: 0;
    padding: 0px 6px;
    border: none;
}

#workspaces button:hover {
    color: #c4a98c;
    background-color: #1e1914;
}

#workspaces button.active {
    color: #1e1914;
    background-color: #c4a98c;
}

#workspaces button.active:hover {
    color: #c4a98c;
    background-color: #1e1914;
}

#workspaces button.urgent {
    color: #eae5e0;
    background-color: #c48ca7
}

#window {
    margin-left: 0;
    color: #c4a98c;
}

#cpu {
    min-width: 26px;
    padding: 0 5px;
    color: #c4a98c;
}

#cpu:hover {
    color: #eae5e0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#pulseaudio {
    padding: 0 5px;
    color: #c4a98c;
}

#pulseaudio:hover {
    color: #eae5e0;
}

#pulseaudio.muted {
    color: #c48ca7;
}

#clock {
    color: #c4a98c;
    padding: 0 5px;
}

#clock:hover {
    color: #eae5e0;
}

#battery {
    padding: 0 5px;
    background-color: #1e1914;
    color: #c4a98c;
}

#battery.charging,
#battery.full,
#battery.plugged {
    margin: 4px 0;
    border-radius: 3px;
    background-color: #c4a98c;
    color: #1e1914;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #eae5e0;
    }
}

#battery.critical:not(.charging) {
    color: #c48ca7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery:hover {
    color: #eae5e0;
}

#network {
    padding: 0 5px;
    color: #c4a98c;
}

#network:hover {
    color: #eae5e0;
}

#network.disconnected {
    color: #c48ca7;
}

#custom-media {
    padding: 0 5px;
    color: #c4a98c;
}

#custom-media:hover {
    color: #eae5e0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #c48ca7;
}

#idle_inhibitor {
    margin: 4px 0;
    padding: 0 7px;
    color: #c4a98c;
}

#idle_inhibitor.activated{
    border-left: 0;
    border-right: 0;
    border-radius: 3px;
    color: #1e1914;
    background-color: #c4a98c;
}

#idle_inhibitor:hover {
    color: #eae5e0;
}

#idle_inhibitor.activated:hover {
    color: #1e1914;
}

#custom-dunst {
    margin: 4px 0;
    padding:0 7px;
    color: #c4a98c;
}

#custom-dunst.disabled{
    border-left: 0;
    border-right: 0;
    border-radius: 3px;
    color: #1e1914;
    background-color: #c4a98c;
}

#custom-dunst:hover {
    color: #eae5e0;
}

#custom-dunst.disabled:hover {
    color: #1e1914;
}
